.main__footer__contents
  .main__footer__contents__about
    %h2.main__footer__contents__about__title メルカリについて
    .main__footer__contents__about__title__class
      %ul.main__footer__contents__about__title__class
        %li.main__footer__contents__about__title__class__name 
          =link_to "#",class:"main__footer__contents__about__title__class__name__tag" do
            会社概要（運営会社）
        %li.main__footer__contents__about__title__class__name
          %a.main__footer__contents__about__title__class__name__tag 採用情報
        %li.main__footer__contents__about__title__class__name
          %a.main__footer__contents__about__title__class__name__tag プレスリリース
        %li.main__footer__contents__about__title__class__name 
          %a.main__footer__contents__about__title__class__name__tag 公式ブログ
        %li.main__footer__contents__about__title__class__name
          %a.main__footer__contents__about__title__class__name__tag メルカリロゴ利用ガイドライン
      
  .main__footer__contents__guide
    %h2.main__footer__contents__guide__title ヘルプ＆ガイド
    .main__footer__contents__guide__title__class
      %ul.main__footer__contents__guide__title__class
        %li.main__footer__contents__guide__title__class__name
          %a.main__footer__contents__guide__title__class__name__tag メルカリガイド
        %li.main__footer__contents__guide__title__class__name
          %a.main__footer__contents__guide__title__class__name__tag らくらくメルカリ便
        %li.main__footer__contents__guide__title__class__name
          %a.main__footer__contents__guide__title__class__name__tag ゆうゆうメルカリ便
        %li.main__footer__contents__guide__title__class__name
          %a.main__footer__contents__guide__title__class__name__tag 大型メルカリ便
        %li.main__footer__contents__guide__title__class__name
          %a.main__footer__contents__guide__title__class__name__tag 車体取引ガイド
        %li.main__footer__contents__guide__title__class__name
          %a.main__footer__contents__guide__title__class__name__tag メルカリあんしん・あんぜん宣言！
        %li.main__footer__contents__guide__title__class__name
          %a.main__footer__contents__guide__title__class__name__tag 偽ブランド品撲滅への取り組み
        %li.main__footer__contents__guide__title__class__name
          %a.main__footer__contents__guide__title__class__name__tag メルカリボックス

  .main__footer__contents__privace
    %h2.main__footer__contents__privace__title プライバシーと利用規約
    .main__footer__contents__privace__title__box
      .main__footer__contents__privace__title__box__class
        %ul.main__footer__contents__privace__title__box__class
          %li.main__footer__contents__privace__title__box__class__name
            %a.main__footer__contents__privace__title__box__class__name__tag プライバシーポリシー
          %li.main__footer__contents__privace__title__box__class__name
            %a.main__footer__contents__privace__title__box__class__name__tag メルカリ利用規約
          %li.main__footer__contents__privace__title__box__class__name
            %a.main__footer__contents__privace__title__box__class__name__tag あんしんスマホサポート制度に関する利用規約
          %li.main__footer__contents__privace__title__box__class__name
            %a.main__footer__contents__privace__title__box__class__name__tag コンプライアンスポリシー
      .main__footer__contents__privace__title__box__place
        %ul.main__footer__contents__privace__title__box__place
          %li.main__footer__contents__privace__title__box__place__name
            %a.main__footer__contents__privace__title__box__place__name__tag 個人データの安全管理に係る基本方針
          %li.main__footer__contents__privace__title__box__place__name
            %a.main__footer__contents__privace__title__box__place__name__tag 特定商取引に関する表記
          %li.main__footer__contents__privace__title__box__place__name
            %a.main__footer__contents__privace__title__box__place__name__tag 資金決済法に基づく表示
          %li.main__footer__contents__privace__title__box__place__name
            %a.main__footer__contents__privace__title__box__place__name__tag 法令順守と犯罪抑止のために

  .main__footer__contents__country
    %h2.main__footer__contents__country__title 国
    .main__footer__contents__country__title__class
      %ul.main__footer__contents__country__title__class
        %li.main__footer__contents__country__title__class__name
          %a.main__footer__contents__country__title__class__name__tag 日本
        %li.main__footer__contents__country__title__class__name
          %a.main__footer__contents__country__title__class__name__tag United States

.main__footer__logo
  .main__footer__logo__box
    .main__footer__logo__box__logo 
      = image_tag  "fmarket_logo_white.svg"
    .main__footer__logo__box__color ©️ 2019 Mercari