.headerBox
  .headerBox__main
    .headerBox__main__search
      .headerBox__main__search__logo
        =link_to "#",class:"headerBox__main__search__logo__link" do
          = image_tag  "fmarket_logo_red.svg",class:"headerBox__main__search__logo__link__box"
      .headerBox__main__search__input
        .headerBox__main__search__input__box
          %label
            %input{placeholder: "何かお探しですか？", type: "text", class: "search-box"} 
            %i.fas.fa-search{class: "search-icon"}
    .headerBox__main__bottom
      .headerBox__main__bottom__select
        .headerBox__main__bottom__select__category
          .headerBox__main__bottom__select__category__categorySearch
            = image_tag('category.png',width:'30',height:'25')
          .headerBox__main__bottom__select__category__categorySearch__list__a カテゴリーから探す
        .headerBox__main__bottom__select__brand 
          .headerBox__main__bottom__select__brand__brandSearch
            = image_tag('brand.png',width:'30',height:'25')
          .headerBox__main__bottom__select__brand__brandSearch__list__b  ブランドから探す
      
      
      .headerBox__main__bottom__member
        .headerBox__main__bottom__member__new
          =link_to"#",class:"headerBox__main__bottom__member__new__letter" do
            新規会員登録
        .headerBox__main__bottom__member__login
          =link_to"#",class:"headerBox__main__bottom__member__login__moji" do
            ログイン


