.main
  .main__contets
    .main__contents__header
      .main__contents__header__logo
        =link_to ".." do
          = image_tag  "fmarket_logo_red.svg",class:"logo"
    .main__contents__wait
      .main__contents__wait__red 発送をお待ちください
      .main__contents__wait__black 出品者からの発送通知をお待ちください

