.main
  .header
    = render "header"
  .body_main
    .slideshow
      = render "slideshow"
  .main__item
    = render "itemlist"
  .main__bottom
    =render "bottom"
  .main__footer
    = render "footer"
