.header{
  width: 100%;
  height:100px;
}
.headerBox{
  background-color: rgb(255, 255, 255);
}
.headerBox__main{
  min-width:1020px;
  padding:8px,0px,0px;
  height:100%;
  margin-right:200px;
  margin-left:200px;
}

.headerBox__main__search__logo{
  height:40px;
  width:50px;
}

.headerBox__main__bottom__select{
  display:flex;
  float:left;
  &__category{
    display: flex;
    padding:0px 10px;
    &__categorySearch,&__image{
      display:flex;
    }
    &__categorySearch__list{
      display:flex;
      &__a{
        color:black;
      }
    }
  }
  &__brand{
    display: flex;
    padding:0px 10px;
    &__brandSearch,&__image{
      display:flex;
    }
    &__brandSearch,&__list{
      display:flex;
    }
  }
}
.headerBox__main__bottom__member{
  display:flex;
  float:right;
  &__new{
    background-color:red;
    color:white;
    font-size: 0.9em;
    width:100px;
    height:30px;
  }
  &__login{
    background-color:white;
    color:blue;

    font-size: 0.9em;
    width:100px;
    height:30px;
  }
}

